<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">

     <form action="." method="post" >
        {% csrf_token %}
         <button onclick="location.href='{% url 'register' %}'">Quẹt lại</button><label>Vui lòng quẹt thẻ vào đầu đọc</label>
        {% if id_card %}
        <p><label>ID Độc Giả: </label><input type="text" name="id_DG" value="{{ id_card }}"> </p>
        <p><label>Họ và tên: </label>{{ f.ten_DG }}</p>
        <p><label>Gioi tính: </label>{{ f.gioitinh }}</p>
        <p><label>Email: </label>{{ f.email_DG }}</p>
        <p><label>CMND: </label>{{ f.CMND }}</p>
        <p><label>Số điện thoại: </label>{{ f.phone }}</p>
         <table border="1"><tr><th>Chụp ảnh
             <div>
                 <img  src="{% url 'video' %}" alt="">
             </div>
         <script>

         </script>
         </th></tr></table>
        <input type ="submit" value ="Đăng kí">
        {% endif %}
    </form>
    </div>
</body>
</html>